<button type="button" class="btn btn-primary greenclr" (click)="openTaskModal(tasks)">Create Task</button>

<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
    <tr>
      <th></th>
      <th>Task</th>
      <th>Content</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td><span class='done' ng-init="task.isComplete" [class.checked]='task.isComplete' (click)='toggleDone(task)'></span></td>
      <td>{{ task.taskName }}</td>
      <td>{{ task.content }}</td>
      <td>
        <span class='close' (click)='deleteTask(task)'>×</span>
        <span class='edit' (click)='openTaskModal(task)'><span class="glyphicon glyphicon-edit"></span></span>
      </td>
    </tr>
    <tr *ngIf="tasks?.length == 0">
      <td colspan="3" class="no-data-available">No data!</td>
    </tr>
  </tbody>
  </table>
